@media(max-width:400px){
    .booking-input h4{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .booking{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .booking-img{
        width: 0%;
        display: none;
    }
    .booking-img img{
        width: 0%;
    }
    .booking-input{
        width: 100%;
        margin-bottom: 1rem;
    }
    form{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media(max-width:500px){
    .date-container{
        grid-template-columns: 1fr; /* Define dos columnas de igual tamaño */
        gap: 10px;
    }
    .booking-div h1{
        font-size: 4vh;
    }
    .bio-image-1{
        margin-right: -0.4rem;
    }
    .bio-image-2{
        margin-left: -0.5rem;
    }
    .social-div{
        margin-top: -2rem;
    }
    .container p{
        display: none;
    }
    .painted-title{
        margin-top: 0;
        margin-bottom: 0;
    }
    .youtube-videos iframe{
        height: 100px;
        width: 140px;
    }
    .container{
        width: 100%;
        gap: 4px;
    }
}
@media(min-width:501px){
    .date-container{
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
    }
    .icons{
        margin-top: 7rem;
    }
    .youtube-videos iframe{
        height: 160px;
        width: 160px;
    }
    .playlists-videos h2{
        margin-bottom: 0;
    }
    .container{
        width: 100%;
        gap: 4px;
    }
    .item p{
        font-size: 0.8rem;
    } 
    .painted-title{
        margin-top: 1rem;
        margin-bottom: 0;
    }
    .playlists-videos h2{
    margin-bottom: 0.5rem;
    }
    .playlists-videos{
        margin-bottom: -1rem;
    }
    .booking-div h1{
        font-size: 5vh;
    }
}
@media(min-width:625px){
    .booking-div h1{
        font-size: 5.5vh;
    }
    .painted-title{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .youtube-videos iframe{
        height: 200px;
        width: 160px;
    }
}
@media(min-width:768px){
    .date-container{
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 10px;
    }
    .booking-div h1{
        font-size: 6vh;
    }
    .painted-title{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .container{
        width: 90%;
        gap: 20px;
    }
    .youtube-videos{
        width: 90%;
    }
    .youtube-videos iframe{
        height: 350px;
        width: 160px;
    }
    .playlists-videos h2{
        margin-bottom: 0;
    }
    .painted-title{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .item p{
        font-size: 0.8rem;
    } 
    .playlists-videos h2{
    margin-bottom: 0.5rem;
    }
    .playlists-videos{
        margin-bottom: -1rem;
    }
    .item p{
        font-size: 1.5rem;
    } 
}
@media(min-width:1660px){
    .booking-img img{
        width: 60%;
    }
    .booking-div h1{
        margin-top: 5rem;
        font-size: 8vh;
    }
    .youtube-videos iframe{
        height: 480px;
        width: 160px;
    }
}