body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    background-image: url('src/elements/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backdrop-filter:grayscale(100%);
    backdrop-filter: inherit;
    z-index: 1;
}
main::after{
    position:absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: -1;
}

.main-image-section h1 {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-family: "Akira Expanded", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: -8px;
    margin: 0;
    line-height: -2rem;
}

.main-image-section h1 span {
    font-weight: 900;
    color: transparent;
    text-shadow: 2px 0 black;
}

.main-image-section img {
    width: 100%;
    height: auto;
}

.main-image-section {
    position: relative;
    height: fit-content;
}
.biography{
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
.biography-images{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.bio-image-1{
    width: 45vw;
    z-index: 1;
    margin-right: -0.9rem;
}
.bio-image-2{
    width: 37vw;
    margin-left: -0.9rem;
    z-index: 0;
    transform: rotate(-5deg);
}
.social-div{
    margin-left: auto;
    margin-right: 20%;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.social-div h4{
    font-family: "Akira Expanded", Arial;
    font-weight: 900;
    font-size: 1.2vw;
    margin: 0;
}
.icons{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.icon{
    width: 2vw;
    height: auto;
    margin-right: 8px;
}
.division-image{
    width: 100%;
}
.icons a{
    transition: transform 0.3s ease;
    width: fit-content;
    height: auto;
    cursor: pointer;
    z-index: 10;
}
.icons a:hover {
    transform: scale(1.05);
}
.playlists{
    width: 100%;
    position: relative;
    height: fit-content;
    margin-top: -2rem;
}
.black-bg{
    width: 100%;
    height: auto;
}
.playlists-videos{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.youtube-videos{
    margin-left: auto;
    margin-right: auto;    
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.youtube-videos iframe{
    width: 400px;
    height: 200px;
    width: fit-content;
    margin: 0.5rem;
}
.painted-title{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.painted-title img{
    width: 100%;
}
.painted-title h3{
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin: 0;
    font-size: 1.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.playlists-videos h2{
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
    font-weight: 900;
    color: white;
    width: fit-content;
    margin-bottom: 2rem;
    font-family: Arial;
}
.container{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 80%;
    padding: 20px;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}
.item{
    align-self: flex-start;
    flex: 1 1 calc(100% - 40px);
    text-align: center;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
} 
.item img{
    width: 100%;
    height: auto;
    display: block;
} 
.item p{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
} 
.item:hover {
    transform: scale(1.05);
}
.next-dates{
    height: 100vh
}
.next-dates-title{
    margin-top: 2rem;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.right{
    margin-bottom: -3rem;
    height: auto;
    width: fit-content;
    margin-right: -2rem;
}
.left{
    z-index: 10;
    height: fit-content;
    margin-bottom: -100px;
    width: fit-content;
    margin-left: -2rem;
}
.next-dates-title div{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 6.5rem;
    font-family: Arial, Helvetica, sans-serif;
}